name: CI - Java 17 Maven Build, Tests & SonarQube

# Déclenchement automatique sur push et pull request
on:
  push:
    branches:
      - master
      - develop
      - groupe1/features
      - groupe2/features
      - groupe3/features
      - groupe4/features
      - groupe5/features
      - groupe6/features
      - groupe7/features
      - groupe8/features
      - groupe9/features
      - groupe10/features
  pull_request:
    branches:
      - master
      #- develop

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      #  Récupération du code
      - name: Checkout repository
        uses: actions/checkout@v4

      #  Installation de Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      #  Cache Maven pour accélérer le build
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-

      # Build + Tests unitaires + Tests d’intégration
      - name: Build and Run Tests
        run: mvn clean verify$
